{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<h1>Welcome</h1>
<br>
<div class="border border-dark text-center" style="width: 500px;margin: auto; padding: 50px;">
<main class="form-signin">
<form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword"  name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div> 

<br>


<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
<br>
<small class="form-text text-muted">Not A User? Register <a href="{% url 'register' %}"> Here.</a></small> <br>
</div>
<br>

</form>
</main>

</div>
{% endblock %}