{% extends 'base.html' %}
{% block title %} Add comment {% endblock %}
{% block content %}

<h1>Add comment</h1>
{% if user.is_authenticated %}
            <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-success">Add comment</button>

            </form>
            </div>
        {% else %}
            Você não tem permissão para estar aqui e você sabe disso ;) 
{% endif %}
{% endblock %}