{% extends 'base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By: {{ post.title }} - {{ post.author.first_name }} -  {{ post.post_date }}  
    {% if user.is_authenticated %}
       </small>
        {% if user.is_staff == 1 %}
        |<small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small><br> 
        {% endif %}
    {% endif %}
<hr>
<br>
{{ post.body}}
<br>
<a href="{% url 'home'%}"  class="btn btn-dark">Back</button></a>

       <br>
       <br>
       <hr>
       <form action="{% url 'like_post' post.pk %}" 
       method="POST">
            {% csrf_token %}
            <button type="submit", name="post_id",
            value="{{ post.id }}", class="btn btn-primary" btn-sm>Like</button> {{ total_likes }}
       </form>
{% endblock %}