{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h1>Post</h1>
<div class="container">
    <div class="row">
        {% for post in object_list %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="media\images\download.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }} - 
                            <a href="{% url 'category' post.category|slugify %}" >
                                                 {{ post.category }}</h5>
                            </a>
                          <p class="card-text">  {{ post.snippet }}</p>
                          <a href="{% url 'article-detail' post.pk %}" class="btn btn-primary">
                              Read More...
                          </a>
                        <br> <small>{{ post.author.first_name }} {{ post.author.last_name }} - </small>
                          {% if user.is_staff == 1 %}
                          <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
                          <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small> 
                          {% endif %}
                        </div>
                  </div>
                  <br>
            </div>
        {% endfor %}
    </div>
</div>
<br>
{% endblock %}